<div class="name_container" *ngIf="!isSet">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Set your name</mat-label>
        <input matInput type="text" [(ngModel)]="username">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="setname()" color="primary">Set Name</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-sidenav-container *ngIf="isSet" class="tp_container">
  <mat-sidenav mode = "side" opened>
    <h1 id="msg_head">Messages</h1>
    <div *ngFor="let msg of msgs">
      <b>{{checkIfMe(msg.user)}}</b> : {{msg.message}}
    </div>
    <div class="message_area">
      <mat-form-field>
        <textarea
        matInput placeholder="label"
        type="text"
        [(ngModel)]="userinput"
        (keypress)="checkEnter($event)"
        placeholder="type message..."></textarea>
        <!-- <mat-icon type="button" [disabled]="username == ''" mat-icon-button (click)="send()" style="float: right;">send</mat-icon> -->
      </mat-form-field>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="etc_container">
      <h1 class="etc_heading" *ngIf="username != ''">{{username}}</h1>
      <div id="peer_connect">
        <button type="button" mat-raised-button [disabled]="peerVideo" (click)="_makePeer()">Connect to peer</button>
      </div>
      <br>
      <br>
      <div class="row" [style.visibility]="(vidstart) ? 'visible' : 'hidden'" style="padding-top: 30px;">
        <div class="column">
          <video #userVid src=""></video>
          <button mat-mini-fab class="user_btn" (click)="muteVideo()">
            <mat-icon *ngIf="!initvidref.muted">mic</mat-icon>
            <mat-icon *ngIf="initvidref.muted">mic_off</mat-icon>
          </button>
          <button mat-mini-fab class="user_btn pp" (click)="playpause('user')">
            <mat-icon *ngIf="initvidref.isplay">play_arrow</mat-icon>
            <mat-icon *ngIf="!initvidref.isplay">pause</mat-icon>
          </button>
        </div>
        <div class="column" [hidden]="!peerVideo">
          <video #peerVid src=""></video>
          <button mat-mini-fab class="user_btn" (click)="mutePeerVideo()">
            <mat-icon *ngIf="!peervidref.muted">mic</mat-icon>
            <mat-icon *ngIf="peervidref.muted">mic_off</mat-icon>
          </button>
          <button mat-mini-fab class="user_btn pp" (click)="playpause('peer')">
            <mat-icon *ngIf="peervidref.isplay">play_arrow</mat-icon>
            <mat-icon *ngIf="!peervidref.isplay">pause</mat-icon>
          </button>
        </div>
      </div>
      <br>
      <br>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <input type="text" [(ngModel)]="username" placeholder="type name..." /> -->
<!-- <button type="button" >set name</button> -->