:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
    position: relative;
}

.name_container {
    padding: 200px;
}

.etc_container {
    .etc_heading {
        background: #3f51b5;
        color: white;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        text-transform: capitalize;
        text-align: center;
    }
    .user_btn {
        position: absolute;
        left: 20px;
    }
    .pp {
        left: 50px !important;
    }
    #peer_connect {
        text-align: center;
    }
}
.tp_container {
    height: 100%;
    mat-sidenav {
        width: 200px;
    }
    mat-sidenav-content {
        margin-left: 200px;
    }
}
.message_area {
    position: absolute;
    bottom: 0;
    padding-left: 5px;
}
#msg_head {
    background: #3f51b5;
    color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-transform: capitalize;
    text-align: center;
}